* {
	box-sizing: border-box;
}

h1 {
	font-family: AR JULIAN; 
	text-align: center;
	line-height: 20px;
	font-size: 80px;
}

h2, h3, h4 {
  font-family: AR JULIAN; 
  text-align: center;
  line-height: 5px;
  font-size: 25px;
}

h5 {
   font-family: AR JULIAN; 
   font-size: 50px;
}

p {
  
	font-family: AR JULIAN;
	text-align: center;
}


.model-info {
	position: absolute;
	z-index: 50;
	width: 30%;
	left: 35vw;
	top: 15vw;
	background-color: rgb(185, 202, 222, 0.3);
	padding: 50px;

}

.model-title {
  position: absolute;
  z-index: 50;
  width: 30%;
  left: 5vw;
  top: 1vw;
}


.infobutton {
  position: absolute;
  z-index: 50;
  background-color: rgb(185, 202, 222, 0.3);
  border: none;
  color: white;
  padding: 28px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  left: 1vw;
  top: 46vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.infobutton {
  background-color: black;
  color: white; 
  border: 2px solid white;
}

.infobutton:hover {
  background-color: rgb(185, 202, 222);
  color: black;
}