* {
	box-sizing: border-box;
}

h1 {
	font-family: AR JULIAN; 
	background-color: #f8b627;
	text-align: center;
}

p {
	font-family: sans-serif;
	text-align: right;
}

.model-info {
	position: absolute;
	z-index: 50;
	width: 30%;
	left: 60vw;
	top: 10vw;
/*	padding: 20px;*/

}
